body {
    background-color: teal;
}

#access {
    margin-top: 20px;
}

#access h5 {
    font-weight: bold;
}

.brand-logo {
    font-weight: bold;
}

#search {
    margin-top: 10px;
    padding: 5px;
}

#search ::placeholder {
    color: grey;
}
